{% extends "base.html" %}
{% block content %}
<!-- page content -->
<style>
.card-body{
min-height:110px !important;
}
.days{
       float: right;
}
 table.dataTable thead>tr>td.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc {
    padding-right: 0px;
}
.button {
    background-color: #46403F;
    border: none;
    color: white;
    padding: 1px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>
<script>
        $( function() {
        $( ".datepicker" ).datepicker();
         } );
</script>
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item active">Nuts Volume/Movement</li>

                <!-- Breadcrumb Menu-->
                <li class="breadcrumb-menu d-md-down-none">
                     
                </li>
            </ol>


            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <font size="3">Total Nuts Volume:</font>  <font size="4">{{total_nuts}}</font>
                                     <!-- Date input -->
                                   <form method="post" action="/admin_nuts_volume" name="form1" class="days form-inline">
                                   <div class="form-group">
                                   <!--<label for=“date”>From Date :</label>&nbsp;-->
                                   <input id="date" name="fdate" type="text" class="datepicker a" placeholder={{FromDate}} required/>&nbsp;
                                   </div>
                                   <div class="form-group">
                                   <!--<label for=“date1”>To Date :</label>&nbsp;-->
                                   <input id="date1" name="tdate" type="text" class="datepicker a" placeholder={{ToDate}} required/>&nbsp;
                                   </div>
                                       <button class="button" type="submit">Submit</button>
                                   </form>
                                </div>
                                <div class="card-body">
                                    <div class="table-container">
                                    <table class="table table-hover table-outline mb-0 datatable">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>Commodity</th>
                                                <th >Location</th>
                                                <th>Report Date</th>
                                                <th >Package Count</th>
												<th >Type</th>
												<th >Shipment Date</th>
												{#<th>Mostly Low-High Price</th>#}
												<th>lb units</th>
												<th>Package</th>
												<th>Variety</th>
												{#<th>Unit of Sale</th>#}
												<th>Trans Mode</th>
                                            </tr>
                                        </thead>
                                        <tbody>
										{% for items in result_items %}
                                            <tr>
                                                <td>{{items.Commodity}}</td>
                                                <td width=150>{{items.location}}</td>
                                                <td width=120>{{items.report_date}}</td>
                                                <td width=150>{{items["Package Count"]}}</td>
												<td width=150>{{items.Type}}</td>
												<td width=150>{{items["Shipment Date"]}}</td>
												{#<td>{{items.low_high_mostly_price}}</td>#}
												<td width=160>{{items["10000 lb units"]}}</td>
												<td width=180>{{items.Package}}</td>
												<td width=150>{{items.Variety}}</td>
												{#<td width=180>{{items.unit_of_sale}}</td>#}
												<td width=120>{{items["Trans Mode"]}}</td>
                                            </tr>
                                          {%endfor%}
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.col-->
                    </div><!--/.row-->
                </div>
            </div><!-- /.conainer-fluid -->
{% endblock %}